.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0;
  position: relative;
  z-index: 2;
  margin-bottom: 5rem;
  .logo {
    width: 10.5rem;
    height: 2rem;
    cursor: pointer;
  }
  .categories {
    display: flex;
    padding: 0 2rem;
    .category {
      position: relative;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 4rem;
      }
      &__name {
        font-size: 1.6rem;
        font-weight: 500;
        &.expanded ~ .category__list {
          opacity: 1;
          visibility: visible;
        }
        &.expanded ~ .category__dropdown_arrow {
          transform: rotate(180deg);
        }
      }
      &__dropdown_arrow {
        display: inline-block;
        width: 0.9rem;
        height: 0.6rem;
        margin-left: 0.75rem;
        background-image: url(~src/assets/icon/arrow__down.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top left;
        transition: transform 0.2s;
      }
      &__list {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0.8rem;
        border-radius: 8px;
        position: absolute;
        top: 3.5rem;
        left: 0;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0.2s;
        min-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        li {
          cursor: pointer;
          border-radius: 8px;
          &:hover {
            color: #323232;
            background-color: rgba(255, 255, 255, 0.8);
          }
          &:not(:last-child) {
            margin-bottom: .8rem;
          }
        }
      }
    }
  }
  .interactions {
    display: flex;
    .interaction {
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
      &__search {
        width: 2rem;
        height: 2rem;
      }
      &__user {
        width: 2rem;
        height: 2rem;
      }
      &__language {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    .logo {
      margin-bottom: 2rem;
    }
    .categories {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 2rem;
      .category__list {
        max-width: 100%;
      }
      .category {
        width: 50%;
        &:not(:last-child) {
          margin-bottom: 2rem;
          margin-right: 0;
        }
      }
    }
  }
}
