<div class="layer"></div>
<section id="main">
  <swiper
    #swiper
    [config]="config"
  >
    <ng-template swiperSlide *ngFor="let movie of moviesList | slice:0:4; let i = index">
      <div class="slider">
        <div class="slider__head">
          <div class="slider__head-item imdb">
            <div class="imdb_logo">
              <img src="assets/icon/imdb.svg" alt="imdb-icon">
            </div>
            {{movie.imdbID}}
          </div>
          <div class="slider__head-item year">ГОД: <span>{{movie.year}}</span></div>
          <div class="slider__head-item type">ТИП: <span>{{movie.type}}</span></div>
        </div>
        <div class="slider__content">
          <div class="info">
            <h2>{{movie.title}}</h2>
            <p>{{movie.description}}</p>
          </div>
          <div class="play">
            <div class="play__btn">
              <img src="assets/icon/play.svg" alt="play">
            </div>
            Смотреть
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
  <div class="slider__footer">
    <div class="page">
      <div class="page_index" *ngFor="let page of swiperPages, let i = index" [ngClass]="{active: i === page}">
        {{i + 1}}
      </div>
    </div>
    <div class="controls">
      <button class="control previous" (click)="swipePrev()"><span class="arrow arrow-previous"></span>Пред</button>
      <button class="control next" (click)="swipeNext()">След<span class="arrow arrow-next"></span></button>
    </div>
  </div>
</section>
<section id="trending">
  <h1>В тренде</h1>
  <div class="filters">
    <div class="genres">
      <div class="filter" *ngFor="let filter of filters">
        {{filter}}
      </div>
    </div>
    <p class="watch-all">смотреть все</p>
  </div>
  <div class="list">
    <div class="list__item" *ngFor="let movie of moviesList | slice:0:10">
      <img class="poster" [src]="movie.poster" alt="poster">
      <div class="poster-wrapper"></div>
      <span class="format">WEB-DL</span>
      <div class="info">
        <span class="imdb">
          <span class="icon">
            <img src="assets/icon/imdb.svg" alt="imdb">
          </span>
          {{movie.imdbID}}
        </span>
        <span class="year">{{movie.year}}</span>
        <span class="title">{{movie.title}}</span>
      </div>
      <span class="watch-online">Смотреть онлайн</span>
    </div>
  </div>
</section>
<section id="watch_online">
  <h1>Смотреть фильмы онлайн бесплатно</h1>
</section>
